<style>
    body {
        position: relative;
        overflow: hidden;
        height: 800px;
        background-size: cover;
    }
    body::before {
        content: "";
        background-image: url('https://img.freepik.com/free-vector/kids-doodles_1108-181.jpg?w=740&t=st=1678601820~exp=1678602420~hmac=5dd10503c397beb7d54a3b12aece78bd857bd6faac69e2979fd7368c73b37485');
        background-size: 300px 300px;
        background-repeat: repeat;
        background-position: center center;
        filter: blur(1px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
</style>
